<div class="container mt-4">
    <h2>Peliculas y series</h2>
  
    <!-- Formulario para crear/editar un item -->
    <form #itemForm="ngForm" (ngSubmit)="itemForm.valid && (currentItem._id ? updateItem(currentItem._id) : createItemImage())" novalidate>
      
      <!-- Campo Nombre -->
      <div class="form-group">
        <label for="name">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="currentItem.name"
          name="name"
          required
          #name="ngModel"
          [ngClass]="{ 'is-invalid': name.invalid && (name.dirty || name.touched), 'is-valid': name.valid }"
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
          El nombre es obligatorio.
        </div>
      </div>
  
      <!-- Campo Descripción -->
      <div class="form-group">
        <label for="description">Descripción:</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentItem.description"
          name="description"
          required
          #description="ngModel"
          [ngClass]="{ 'is-invalid': description.invalid && (description.dirty || description.touched), 'is-valid': description.valid }"
        />
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
          La descripcion es obligatoria.
        </div>
      </div>

      <!-- Campo calificacion -->
      <div class="form-group">
        <label for="rate">Calificacion:</label>
        <input
          type="text"
          class="form-control"
          id="rate"
          [(ngModel)]="currentItem.rate"
          name="rate"
          required
          #rate="ngModel"
          [ngClass]="{ 'is-invalid': rate.invalid && (rate.dirty || rate.touched), 'is-valid': rate.valid }"
        />
        <div *ngIf="rate.invalid && (rate.dirty || rate.touched)" class="invalid-feedback">
          La calificacion es obligatoria.
        </div>
      </div>

      <!-- Campo imagen -->
      <div class="form-group">
        <label for="imagePath">Imagen:</label>
        <input
          type="file"
          class="form-control"
          id="imagePath"
          [(ngModel)]="currentItem.imagePath"
          name="imagePath"
          (change)="onFileSelected($event)"
          accept="image/*"
          required
          #imagePath="ngModel"
          [ngClass]="{ 'is-invalid': imagePath.invalid && (imagePath.dirty || imagePath.touched), 'is-valid': imagePath.valid }"
        />
        <div *ngIf="imagePath.invalid && (imagePath.dirty || imagePath.touched)" class="invalid-feedback">
          La imagen es obligatoria.
        </div>
      </div>
  
      <!-- Botón de Envío -->
      <button type="submit" class="btn btn-primary" [disabled]="itemForm.invalid">
        {{ currentItem._id ? 'Actualizar' : 'Agregar' }}
      </button>
    </form>
  
    <hr />

    <br>

    <div>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Buscar en la lista por nombre"
        class="form-control mb-3"
      />
    </div>

    <br>

    <!-- Lista de items -->
    <table class="table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Calificacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems">
          <td>
            <img *ngIf="item.imagePath" [src]="'http://localhost:3000' + item.imagePath" alt="{{ item.name }}" width="50">
          </td>
          <td>{{ item.name }}</td>
          <td>{{ item.description }}</td>
          <td>{{ item.rate }}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="editItem(item._id)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="confirmDelete(item._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>